<!DOCTYPE html>
{% extends "P_App/main.html" %}
{% load static %}

{% block content %}

<body>
    <div class="email">
        <div class="header"><img src="{% static 'images/THANDE LOGO W@2x.png' %}" alt="Thande Logo"></div>

        <hr width="60%">
        
        <div class="date"><span id="DateTime"></span></div>
        
        <div class="text">
            <h2>{{ subject }}</h2> 
            <span>
                <p>{{ username }}</p> 
                <p>{{ email }}</p> 
            </span>
            <p>{{ message }} </p>
        </div>
        
    </div>
    
    <script>
        var Days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'];
        var Months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
        function addZero(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        var today = new Date();

        var dayName = Days[today.getDay()];
        var dayNo = today.getDate();
        var monthName = Months[today.getMonth()];
        var yearNo = today.getFullYear();

        var hrNo = addZero(today.getHours());
        var minsNo = addZero(today.getMinutes());

        var dateTime = dayName + ' ' + dayNo + ', ' + monthName + ' ' + yearNo + '    ' + hrNo + ':' + minsNo;
        document.getElementById('DateTime').innerHTML = dateTime;
    </script>
</body>
{% endblock content %}
