<!DOCTYPE html>
{% extends "P_App/main.html" %}
{% load static %}

{% block content %}

    <div id="grid">
        <section class="navigation">
            <header>
                <img src="{% static 'images/THANDE LOGO W@2x.png' %}" alt="">
                <div class="hamburger">
                    <div class="hamburger-btn"></div>
                </div>
            
            </header>

            <nav class="navi">
                <ul>
                    <li class="navlink"><a href="#">Home</a></li>
                    <li class="navlink"><a href="#about">About</a></li>
                    <li class="navlink"><a href="#services">Services</a></li>
                    <li class="navlink"><a href="#portfolio">Portfolio</a></li>
                    <li class="navlink"><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </section>

        <section class="banner" id="nav home">
            <div class="content">
                <h1>THANDE ROY</h1>
                <div class="seperator"></div>
                <p>Web Developer</p>
            </div>
            <a href="#about"><input class="more-btn" type="submit" value="&#xf078"></a>
            <ul class="sci">
                <li><a href=""><img src="{% static 'images/facebook.png' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'images/twitter.png' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'images/linkedin.png' %}" alt=""></a></li>
            </ul>
            <!-- <div class="overlay"></div> -->
        </section>

        <section class="about" id="about">
            <div class="content">
                <h1>About</h1>
                <p>Hello, I am a Full-stack Web Developer with 3 years of experience building stunning and functional websites. I help my clients boost their businesses, organizations, careers, and hobbies by creating relevant websites for them. I would love to work with you and I assure quality and timely work.</p>
            </div>
        </section>
            
        <section class="services" id="services">
            <div class="serv-content">
                <h1>Services</h1>
                <p>With building websites, I work with HTML5/CSS3/JS, Django/Python, Amazon Web Services (AWS-S3, AWS-RDS), PostgreSQL, WordPress/Woocommerce to create beautiful works</p>
            </div>
            <div class="cards">
                <div class="card">
                    <span style="font-size: 5rem; height: 5rem; margin: 1rem; color: #00dc00;"><i class="fas fa-code"></i></span>
                    <div>
                        <h2>Build Websites from Scratch</h2>
                        <div class="seperator"></div>
                        <p>I can design and code stunning websites which are responsive from scratch or build from existing templates as required by the clients.</p>
                    </div>
                </div>
                <div class="card">
                    <span style="font-size: 5rem; height: 5rem; margin: 1rem; color: #00dc00;"><i class="fas fa-tools"></i></span>
                    <div>
                        <h2>Fix Bugs and add Features</h2>
                        <div class="seperator"></div>
                        <p>I can also fix issues/bugs on existing websites and do some UI/UX facelift and add more functionality to improve the website's appearance and performance. </p>
                    </div>
                </div>
                <div class="card">
                    <span style="font-size: 5rem; height: 5rem; margin: 1rem; color: #00dc00;"><i class="fas fa-puzzle-piece"></i></span>
                    <div>
                        <h2>Intergrate API's</h2>
                        <div class="seperator"></div>
                        <p>I can intergrate or connect your website to API's meant to improve the operations of your website or your business, that includes payment gateways like PayPal, Visa, MasterCard... </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio" id="portfolio">
            <div class="por-content">
                <h1>Portfolio</h1>
                <p>Some of my work and projects i've done to date</p>
            </div>
            <div class="pills">
                <div class="pill">
                    <div class="primage">
                        <img src="{% static 'images/book.jpg' %}" alt="">
                    </div>
                    <div class="prtext">
                        <div>
                            <h2>Project 1 - Coming Soon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illo sed ut pariatur natus voluptates voluptate nulla consequatur saepe, quae illum, quis soluta incidunt eos quia molestias perspiciatis fugit beatae?</p>
                        </div>
                    </div>
                </div>
                <div class="pill">
                    <div class="primage">
                        <img src="{% static 'images/sourcecode.jpg' %}" alt="">
                    </div>
                    <div class="prtext">
                        <div>
                            <h2>Project 2 - Coming Soon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illo sed ut pariatur natus voluptates voluptate nulla consequatur saepe, quae illum, quis soluta incidunt eos quia molestias perspiciatis fugit beatae?</p>
                        </div>
                    </div>
                </div>
                <div class="pill">
                    <div class="primage">                    
                        <img src="{% static 'images/headphones.jpg' %}" alt="">
                    </div>
                    <div class="prtext">
                        <div>
                            <h2>Project 3 - Coming Soon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illo sed ut pariatur natus voluptates voluptate nulla consequatur saepe, quae illum, quis soluta incidunt eos quia molestias perspiciatis fugit beatae?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <h1>Contact </h1>
            <form class="contact-form" action="{% url 'send_email' %}" method="POST" >
                {% csrf_token %}
                <input class="form-text" type="text" placeholder="Name" name="username">
                <input class="form-text" type="text" placeholder="Subject" name="subject">
                <input class="form-text" type="email" placeholder="Email" name="email">
                <textarea class="form-text" type="text" placeholder="Message" name="message"></textarea>
                <input class="form-btn" type="submit" value="Send">
            </form>
        </section>

        <section class="footer" id="footer">
            <div class="foo-content">
                <div class="footer-logo">
                    <a href="#home"><img src="{% static 'images/THANDE LOGO W@2x.png' %}" alt=""></a>
                </div>
                <div class="footer-social">
                    <li><a href=""><img src="{% static 'images/facebook.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'images/twitter.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'images/linkedin.png' %}" alt=""></a></li>
                </div>
                <div class="footer-text">
                    <p>roy.thande@gmail.com</p>
                    <p>&copy; 2020 Thande Roy</p>
                </div>
            </div>
        </section>

    </div>

    {% endblock content %}
