* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  background: #2a2a2a;
}

@font-face {
  font-family: neon;
  src: url(Neon\ Future.ttf)
}

@font-face {
  font-family: las-enter;
  src: url(LasEnterFont.ttf)
}

@font-face {
  font-family: raleway;
  src: url(Raleway-VariableFont_wght.ttf)
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 999;
  transition: 0.6s;
}

header img {
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.6s;
}

.hamburger {
  position: relative;
  display: flex; /* flex */
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.hamburger-btn {
  width: 25px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
}

.hamburger-btn::before,
.hamburger-btn::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
}

.hamburger-btn::before {
  transform: translateY(-8px);
}

.hamburger-btn::after {
  transform: translateY(8px);
}

.hamburger.open .hamburger-btn {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.hamburger.open .hamburger-btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.hamburger.open .hamburger-btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

nav {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  
}

nav.navi-open {
  transform: translateX(-400px);
}

nav ul {
  width: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: raleway;
  color: #fff;
  text-decoration: none;
  display: flex;
  font-size: 17px;
  font-weight: 200;
  padding: 5px 0;
  text-transform: uppercase;
}

nav ul li a:hover {
  font-family: raleway;
  color: #28ff02;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  font-weight: 200;
  padding: 5px 0;
  text-transform: uppercase;
  transform: translateX(-10%);
}

#home, #about, #services #portfolio #contact  {
  transition: all 0.5s;
}
/*
nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: all .4s linear;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: rgb(15, 15, 15);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.banner.sidekick {
  transform: translateX(-400px);
  
}

.seperator {
  border: 1px solid #444;
  width: 250px;
  height: 0;
  margin: 0 10px;
}

.content {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.content h1 {
  font-family: raleway;
  font-size: 90px;
  text-align: center;
  margin: 20px;
  color: #fff;
  letter-spacing: 5px;
}

.content p {
  font-family: las-enter;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  margin: 20px;
  padding: 10px 0 0 0;
  color: #52ff02e8;
  text-shadow: 0 0 10px rgb(0, 255, 0),
               0 0 20px rgb(0, 255, 0),
               0 0 40px rgb(0, 200, 0),
               0 0 80px rgb(0, 175, 0);
}

.content-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.content-btn a {
  position: relative;
  display: inline-block;
  margin: 20px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}


.sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  left: 7.5%;
  bottom: 50px;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px 0 0;
  transition: all .5s;
}

.sci li a:hover {
  background: #fff;
  transform: translateX(10px);
  transition: all .5s;
}

.sci li a img {
  max-width: 15px;
  filter: invert(1);
  mix-blend-mode: difference;
}

.about {
  position: relative;
  width: 100%;
  min-height: 40vh;
  padding: 100px;
  background-color: rgb(24, 24, 24);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.about-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.about-content h1 {
  position: relative;
  display: block;
  font-family: raleway;
  color: rgba(105, 105, 105, 0.205);
  font-size: 150px;
  left: -200px;
  top: 0px;
}

.about-content p {
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px; 
  width: 70%;
  top: -65px;
  left: 15%;
}

.services {
  position: relative;
  width: 100%;
  min-height: 75vh;
  padding: 50px;
  background-color: rgb(15, 15, 15);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.serv-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.serv-content h1 {
  position: relative;
  display: block;
  font-family: raleway;
  color: rgba(105, 105, 105, 0.205);
  font-size: 150px;
  left: -120px;
  top: 0px;
}

.serv-content p {
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px; 
  width: 70%;
  top: -65px;
  left: 15%;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 50px; 
  justify-content: space-around;
}

.card {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  width: inherit;
  box-shadow: 0 0 10px green;
  border-radius: 10px;
}

.card img {
  position: relative;
  display: flex;
  left: -1rem;
  top: -40px;
  max-width: 180px;
  max-height: 120px;
}

.card div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card h2 {
  color: #fff;
  font-family: raleway;
  transition: .5s;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.card .seperator {
  
  border-bottom: 1px solid green;
  width: 120px;
  height: 0;
  margin: 0 10px;
}

.card p {
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  
}

.portfolio {
  position: relative;
  width: 100%;
  min-height: 60vh;
  padding: 50px;
  background-color: rgb(24, 24, 24);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.por-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.por-content h1 {
  position: relative;
  display: block;
  font-family: raleway;
  color: rgba(105, 105, 105, 0.205);
  font-size: 150px;
  left: -120px;
  top: 0px;
}

.por-content p {
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px; 
  width: 70%;
  top: -65px;
  left: 15%;
}

.pills {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 30vh;
  width: 100%;
}

.pill {
  position: relative;
  width: 30%;
  height: 350px;
  margin: 5px;
  overflow: hidden;
  transition: .5s;
}

.pill:hover {
  z-index: 3;
  transform: scale(1.1);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.pill .primage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.pill .primage:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(180deg, #4b4b4b4d, #000000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.pill img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover ;
}

.pill:hover .primage:before {
  opacity: 1;
}

.pill:hover .primage img{
  
  filter: grayscale(100%);
}

.pill .prtext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  z-index: 3;
}

.pill .prtext h2 {
  color: #fff;
  transition: .5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 18px;
  transform: translateY(200px);
}

.pill:hover .prtext h2 {
  transform: translateY(0);
  transition-delay: .6s;
}

.pill .prtext p {
  color: #fff;
  transform: translateY(200px);
  transition: .5s;
  font-size: 14px;
}

.pill:hover .prtext p {
  transform: translateY(0);
  transition-delay: .7s;
}

.contact {
  position: relative;
  width: 100%;
  min-height: 55vh;
  padding: 40px 50px;
  background-color: rgb(15, 15, 15);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.contact h1 {
  position: relative;
  display: block;
  font-family: raleway;
  color: rgba(105, 105, 105, 0.205);
  font-size: 150px;  
}

.contact-form {
  font-family: raleway;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 8px;
  padding: 15px 20px;
  background: #444;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  transition: .5s;
  border: #28ff02;
  border-radius: 10px;
  font-size: 14px;
}

.form-text:hover {
  border: #28ff02;
  box-shadow: 0 0 5px #00ff00,
              0 0 10px rgb(0, 225, 0),
              0 0 15px rgb(0, 200, 0),
              0 0 20px rgb(0, 175, 0);;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.form-btn {
  font-family: raleway;
  float: right;
  border: 0;
  background: #fff;
  color: #000000;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 25vh;
  padding: 40px 50px;
  border-top: 1px solid green;
  background-color: rgb(15, 15, 15);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.footer .foo-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-logo img {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  transition: 0.6s;
}

.footer-social {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.footer-social li {
  list-style: none;
}

.footer-social li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 5px;
  transition: all .5s;
}

.footer-social li a:hover {
  background: #fff;
  transform: translateY(-10px);
  transition: all .5s;
}

.footer-social li a img {
  max-width: 15px;
  filter: invert(1);
  mix-blend-mode: difference;
}

.footer-text p {
  font-family: raleway;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Responsiveness */


@media only screen and (max-width: 800px) {
  
  header {
    padding: 20px 50px;
  }

  .banner {
    padding: 100px 50px;
  }

  header img {
    /* width: 60px; */
    /* height: 60px; */
    width: 50px;
    height: 50px;
  }

  .content h1 {
    /* font-size: 75px; */
    font-size: 90px;
  }

  .seperator {
    /* width: 150px; */
    width: 250px;
  }

  .banner p {
      /* font-size: 1em; */
      font-size: 55px;
  }
  

  .content-btn a {
    /* font-size: 1.2em; */
    font-size: 20px;
  }

  .sci {
    /* left: 100px; */
    left: 50px;
  }

  .about {
    /* min-height: 70vh; */
    /* padding: 100px; */
    min-height: 40vh;
    padding: 50px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content h1 {
    /* font-size: 150px; */
    /* left: 100px; */
    /* top: -70px; */
    font-size: 120px;
    left: -160px;
    top: 0px;
  }

  .about-content p {
    /* font-size: 20px; */
    font-size: 18px;
    width: 90%;
    top: -50px;
    left: 5%;
  }

  .services {
    /* min-height: 100vh; */
    /* padding: 100px; */
    min-height: 75vh;
    padding: 50px;
  }

  .serv-content {
    flex-direction: column;
  }

  .serv-content h1 {
    /* font-size: 150px; */
    /* left: 100px; */
    /* top: -70px; */
    font-size: 120px;
    left: -90px;
    top: 0px;
  }

  .serv-content p {
    /* font-size: 20px; */
    font-size: 18px;
    width: 90%;
    top: -50px;
    left: 5%;
  }

  .card {
    /* margin: 15px; */
    /* padding: 10px; */
    margin: 10px;
    padding: 5px;
  }

  .card img {
    /* left: -20px; */
    /* top: -50px; */
    /* width: 150px; */
    /* height: 150px; */
    left: -15px;
    top: -40px;
    width: 120px;
    height: 120px;
  }

  .card .seperator {
    /* width: 150px; */
    width: 120px;
  }

  .card p {
    /* font-size: 16px; */
    /* padding: 20px; */
    font-size: 14px;
    padding: 10px;
  }

  .portfolio {
    /* min-height: 100vh; */
    /* padding: 100px; */
    min-height: 60vh;
    padding: 50px;
  }

  .por-content {
    flex-direction: column;
  }

  .por-content h1 {
    /* font-size: 150px; */
    /* left: 100px; */
    /* top: -70px; */
    font-size: 120px;
    left: -90px;
    top: 0px;
  }

  .por-content p {
    /* font-size: 20px; */
    font-size: 18px;
    width: 90%;
    top: -50px;
    left: 5%;
  }

  .pill {
    /* width: 33.33%; */
    /* height: 350px; */
    width: 30%;
    height: 250px;
  }

  .pills {
    /* min-height: 70vh; */
    min-height: 30vh;
  }

  .pill .prtext {
    /* padding: 20px; */
    padding: 10px;
  }

  .pill .prtext h2 {
    /* font-size: 20px; */
    font-size: 18px;
  }

  .contact {
    /* min-height: 100vh; */
    /* padding: 40px 100px; */
    min-height: 55vh;
    padding: 40px 50px;
  }

  .contact h1 {
    /* font-size: 150px; */
    /* left: -100px; */
    font-size: 120px;
    right: 5px;
  }

  .form-text {
    /* margin: 16px; */
    /* padding: 20px 40px; */
    margin: 8px;
    padding: 15px 20px;
    font-size: 14px;
  }

  .contact-form textarea {
    /* height: 120px; */
    height: 150px;
  }

  .form-btn {
    /* padding: 12px 50px; */
    padding: 12px 30px;
  }

  .footer {
    /* min-height: 50vh; */
    /* padding: 40px 100px; */
    min-height: 25vh;
    padding: 40px 50px;
  }

  .footer-logo img {
    /* width: 60px; */
    /* height: 60px; */
    /* margin: 10px; */
    width: 50px;
    height: 50px;
    margin: 5px;
  }

  .footer-social li a {
    /* margin: 10px; */
    margin: 5px;
  }

  .footer-social {
    /* margin: 10px; */
    margin: 5px;
  }

  .footer-text p {
    /* font-size: 16px; */
    /* padding: 10px; */
    font-size: 14px;
    padding: 5px;
  }

}

@media only screen and (max-width: 375px){
  
  header {
    /* padding: 20px 50px; */
    padding: 20px 20px;
  }
  header img {
    /* width: 50px; */
    /* height: 50px; */
    width: 45px;
    height: 45px;
  }
  .content h1 {
    /* font-size: 90px; */
    font-size: 75px;
    font-size: 45px;
  }
  .banner {
    /* padding: 100px 50px; */
    padding: 100px 20px;
  }
  .seperator {
    /* width: 250px; */
    width: 150px;
  }
  .banner p {
    /* font-size: 55px; */
    font-size: 35px;
  }
  .content-btn a {
    /* font-size: 20px; */
    font-size: 16px;
  }
  .sci {
    /* left: 50px; */
    left: 15px;
  }
  .about {
    /* min-height: 40vh; */
    /* padding: 50px; */
    min-height: 45vh;
    padding: 20px;
  }
  .about-content h1 {
    /* font-size: 120px; */
    /* left: -160px; */
    font-size: 75px;
    left: -5%;
    width: 90%;
  }
  .about-content p {
    /* font-size: 18px; */
    font-size: 12px;
  }
  .services {
    /* min-height: 75vh; */
    /* padding: 50px; */
    min-height: 90vh;
    padding: 20px;
  }
  .serv-content h1 {
    /* font-size: 120px; */
    /* left: -90px; */
    font-size: 75px;
    left: -5%;
    width: 90%;
  }
  .serv-content p {
    /* font-size: 18px; */
    font-size: 12px;
  }
  .card img {
    /* left: -15px; */
    /* top: -40px; */
    /* width: 120px; */
    /* height: 120px; */
    left: -10px;
    top: -20px;
    width: 50px;
    height: 50px;
  }
  .card .seperator {
    /* width: 120px; */
    width: 90px;
  }
  .card p {
    /* font-size: 14px; */
    font-size: 10px;
    letter-spacing: 1px;
  }
  .card {
    /* margin: 10px; */
    margin: 5px;
  }
  .portfolio {
    /* padding: 50px; */
    padding: 20px;
  }
  .por-content h1 {
    /* font-size: 120px; */
    /* left: -90\]px; */
    /* left: -90px; */
    font-size: 75px;
    left: -5%;
    width: 90%;
  }
  .por-content p {
    /* font-size: 18px; */
    font-size: 14px;
  }
  .pill {
    /* width: 30%; */
    /* height: 250px; */
    width: 45%;
    height: 200px;
  }
  .pills {
    /* min-height: 30vh; */
    min-height: 20vh;
  }
  .pill .prtext {
    /* padding: 10px; */
    padding: 5px;
  }
  .pill .prtext h2 {
    /* font-size: 18px; */
    font-size: 14px;
  }
  .contact h1 {
    /* font-size: 120px; */
    font-size: 50px;
  }
  .form-text {
    /* margin: 8px; */
    /* padding: 15px 20px; */
    /* font-size: 14px; */
    margin: 5px;
    padding: 5px 10px;
    font-size: 12px;
  }
  .contact-form textarea {
    /* height: 150px; */
    height: 100px;
  }
  .form-btn {
    /* padding: 12px 30px; */
    padding: 5px 20px;
  }
  .contact {
    /* padding: 40px 50px; */
    padding: 40px 20px;
  }
  .footer {
    /* min-height: 25vh; */
    /* padding: 40px 50px; */
    min-height: 30vh;
    padding: 20px 20px;
  }
  .footer-logo img {
    /* width: 50px; */
    /* height: 50px; */
    width: 40px;
    height: 40px;
  }
  .footer-text p {
    /* font-size: 14px; */
    /* padding: 5px; */
    font-size: 12px;
  }

  nav {
    /* right: -400px; */
    /* width: 400px; */
    right: -375px;
    width: 375px;
  }
  
  nav.navi-open {
    /* transform: translateX(-400px); */
    transform: translateX(-375px);
  }
  
  .banner.sidekick {
    /* transform: translateX(-400px); */
    transform: translateX(-375px);
  }
  
  nav ul {
    /* width: 80px; */
    width: 50%;
  }
  
  nav ul li a {
    /* font-size: 17px; */
    font-size: 20px;
  }
  
  .content h1 {
    /* margin: 20px; */
    /* letter-spacing: 5px; */
    letter-spacing: 4px;
  }
  
  .seperator {
    /* margin: 0 10px; */
    margin: 20px 10px;
  }
  
  .content p {
    /* margin: 20px; */
    /* padding: 10px 0 0 0; */
    padding: 10px;
  }
  
  .content-btn a {
    /* margin: 20px; */
    /* padding: 10px 30px; */
    margin: 10px;
    padding: 10px 20px;
  }
  
  .sci {
    /* bottom: 50px; */
    bottom: 30px;
  }
  
  .sci li a {
    /* width: 30px; */
    /* height: 30px; */
    /* margin: 10px 0 0; */
    width: 20px;
    height: 20px;
    margin: 15px 0 0;
  }
  
  .sci li a img {
    /* max-width: 15px; */
    max-width: 12px;
  }
  
  .banner {
    /* width: 100%; */
    width: 100vw;
  }
  
  .cards {
    /* padding: 0 50px; */
    padding: 0px;
  }
  
  .card h2 {
    /* font-size: 20px; */
    font-size: 12px;
  }
  
  .card .seperator {
    /* margin: 0 10px; */
    margin: 0 5px;
  }
  
  .pill .prtext p {
    /* font-size: 14px; */
    font-size: 10px;
    letter-spacing: 1px;
  }
  
  .contact-form {
    /* width: 55%; */
    width: 90%;
  }
  
  .footer-social li a {
    /* width: 30px; */
    /* height: 30px; */
    width: 20px;
    height: 20px;
  }
  
  .footer-social li a img {
    /* max-width: 15px; */
    max-width: 10px;
  }
  
}




